<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KingOfTheHill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>65A3C8471D43D05100E3DB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A3C85B1D43D05100E3DB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>65A3C8661D43D05100E3DB78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
